BOT_TOKEN=your_bot_token_here
OWNER_ID=your_telegram_id_here
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=instagram120.p.rapidapi.com
RAPIDAPI_URL=https://instagram120.p.rapidapi.com/api/instagram/links
YOUTUBE_RAPIDAPI_KEY=your_rapidapi_key_here
YOUTUBE_RAPIDAPI_HOST=youtube138.p.rapidapi.com
